extends layout

block content
  h1= title
  p Welcome to #{title}
  h2 Example Usage:
  code 1. https://image-abstraction-layer-jaykun.c9users.io/api/dogs?offset=10
  p Searches images related to dogs with an offset of 10 to the result list
  code 2. https://image-abstraction-layer-jaykun.c9users.io/api/recentSearches
  p Returns recent searches